<%- include('../_partial/header.ejs') %> 

<div class="container">
    <h1>Edit Product</h1>
    <form action="/products/edit/<%= data.id %> " method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" name="name" value="<%= data.name %>" placeholder="e.g: Xiaomi Redmi Note 7">
          <p class="text-danger"><%= errors ? errors.eName : '' %> </p>
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="number" class="form-control" name="price" value="<%= data.price %>" placeholder="e.g: 349999">
            <p class="text-danger"><%= errors ? errors.ePrice : '' %> </p>
        </div>
        <div class="form-group">
            <label>Stock</label>
            <input type="number" class="form-control" name="stock" value="<%= data.stock %>" placeholder="e.g: 3">
            <p class="text-danger"><%= errors ? errors.eStock : '' %> </p>
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" name="desc" value="<%= data.desc %>" placeholder="e.g: Battery 5000 Mhz">
            <p class="text-danger"><%= errors ? errors.eDesc : '' %> </p>
        </div>
        
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="img" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
        </div>
        <p class="text-danger"><%= errors ? errors.eImg : '' %> </p>

        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/products" class="btn btn-danger">Cancel</a>
      </form>
</div>

<%- include('../_partial/footer.ejs') %> 
